@font-face {
  font-family: GE-bold;
  src: url(../css/fonts/GE_SS_Two_Bold.otf); }
@font-face {
  font-family: GE-mediam;
  src: url(../css/fonts/GE_SS_Two_Medium.otf); }
@font-face {
  font-family: GE-light;
  src: url(../css/fonts/GE_SS_Two_Light-1.otf); }
:root,
html,
body {
  font-family: GE-light;
  font-size: 62.50%; }

.no-scroll {
  overflow: hidden !important; }

.btn--red {
  background-color: #ff0000;
  color: #fff; }

.t1 {
  font-size: 2.8rem; }
  @media (min-width: 576px) {
    .t1 {
      font-size: 3.5rem; } }
  .t1--bold {
    font-family: GE-bold; }

.t2 {
  font-size: 1.4rem; }
  @media (min-width: 576px) {
    .t2 {
      font-size: 2rem; } }
  .t2--bold {
    font-family: GE-bold; }

.t3 {
  font-size: 1.2rem; }

.text-black {
  color: #000000; }

.hidden {
  visibility: hidden; }

.red__break {
  width: 6rem;
  height: 1rem;
  background-color: #ff0000; }

.bg-smallarrow {
  background-image: url(../img/small-arrows.png);
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: 6rem; }

.bg-red {
  background-color: #ff0000; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; }
  .header__cart {
    border-color: transparent; }
    @media (min-width: 576px) {
      .header__cart {
        border-color: white; } }
  .header__logo {
    max-width: 4rem; }
  .header__navmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#header__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.8); }

.close {
  position: absolute;
  top: 5%;
  right: 10%; }

.site__wrap {
  overflow: hidden; }

.header__slider {
  position: fixed;
  top: 0%;
  width: 100%;
  overflow-y: hidden; }

.carousel-item {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 576px) {
    .carousel-item {
      height: 100vh; } }
  .carousel-item--1 {
    background-image: url(../img/slider-1.jpg); }
  .carousel-item--2 {
    background-image: url(../img/slider-2.jpg); }
  .carousel-item--3 {
    background-image: url(../img/slider-3.jpg); }
.carousel-caption {
  position: absolute;
  top: 50%;
  right: 5%;
  left: 5%;
  bottom: auto;
  transform: translateY(-50%); }
  @media (min-width: 576px) {
    .carousel-caption {
      right: 25%;
      left: 25%; } }
.carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  left: -40%;
  bottom: 4vh; }
  @media (min-width: 576px) {
    .carousel-indicators {
      left: 75%; } }
  .carousel-indicators .active {
    background-color: #ff0000; }

.hidden__wrap {
  margin-top: 80vh;
  background-color: white;
  position: relative; }
  @media (min-width: 576px) {
    .hidden__wrap {
      margin-top: 100vh;
      background-color: #fff; } }

.separate {
  margin-top: -1rem;
  margin-bottom: -2rem;
  position: relative;
  z-index: 1030; }
  @media (min-width: 576px) {
    .separate {
      margin-top: -2rem;
      margin-bottom: -4rem; } }
  @media (min-width: 992px) {
    .separate {
      margin-top: -3rem;
      margin-bottom: -6rem; } }

.inf__titlebox {
  background-image: url(../img/inf-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-right: 15%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative; }
  @media (min-width: 576px) {
    .inf__titlebox {
      padding-top: 5rem; } }
.inf__title {
  font-size: 3.7rem; }
.inf__bodytext {
  padding: 4.5rem; }
.inf__grid-imgbox {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .inf__grid-imgbox--top {
    padding-top: 100%; }
  .inf__grid-imgbox--sidetop {
    padding-top: 100%; }
  .inf__grid-imgbox--sidebot {
    padding-top: 55%; }
  .inf__grid-imgbox--botmid {
    padding-top: 116%; }
  .inf__grid-imgbox--botright {
    padding-top: 93%; }
.inf__grid-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.inf__grid-title {
  position: absolute;
  top: auto;
  left: 5%;
  bottom: 2%;
  font-size: 1.4rem; }
  @media (min-width: 576px) {
    .inf__grid-title {
      font-size: 2rem; } }

.producers__bg {
  background-image: url(../img/prod.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 5rem; }
  @media (min-width: 576px) {
    .producers__bg {
      background-size: 10rem; } }
.producers__textbox {
  padding-right: 15%; }
  @media (min-width: 992px) {
    .producers__textbox {
      padding-right: 10%; } }
.producers__img {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 9rem; }
.producers__slide {
  width: 5rem;
  height: 100%;
  margin-right: 2rem; }

/*# sourceMappingURL=style.css.map */
