////////////// No-scroll ////////////
.no-scroll {
    overflow: hidden !important;
}

////////////// BTNs ///////////////////
.btn {

    &--red {
        background-color: $color-primary;
        color: $white;
    }
}

//////////// TYPO //////////////

.t1 {

    font-size: 2.8rem;

    @include respond(sm){
        font-size:3.5rem;
    }

    &--bold {
        font-family: GE-bold;
    }
}


.t2 {
    font-size: 1.4rem;
    
    @include respond(sm) {
        font-size: 2rem;
    }

    &--bold {
        font-family:GE-bold;
    }
}

.t3 {
    font-size: 1.2rem;
}

.text-black {
    color:$black;
}

.hidden {
    visibility: hidden;
}


/////////////////

.red__break {
    width:6rem;
    height: 1rem;
    background-color: $color-primary;
}


.bg-smallarrow {
    background-image: url(../img/small-arrows.png);
    background-repeat: no-repeat;
    background-position: 0 45%;
    background-size: 6rem;

}

.bg-red {

    background-color: $color-primary;

}