/////////////// HEADER NAVBAR ////////////////

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;

    &__cart {
        border-color: transparent;
        @include respond(sm) {
            border-color: white;
        }
    }

    &__logo {
        max-width: 4rem;
    }

}

.site__wrap {
    overflow: hidden;
}

/////////// HEADER Slider ///////////////


.header__slider {
    position: fixed;
    top: 0%;
    width:100%;
    overflow-y: hidden;

}

.carousel {

    &-item {
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include respond(sm) {
            height: 100vh;
        }

        &--1 {
            background-image: url(../img/slider-1.jpg);
        }
        &--2 {
            background-image: url(../img/slider-2.jpg);
        }
        &--3 {
            background-image: url(../img/slider-3.jpg);
        }
    }


    &-caption {
        position: absolute;
        top: 50%;
        right: 5%;
        left:5%;
        bottom: auto;
        transform: translateY(-50%);


        @include respond(sm) {
            right: 25%;
            left:25%;
        }

    }
}


///////////// Hidden Section ///////////////
.section__hidden {
    height: 80vh;
    @include respond(sm) {
        height: 100vh;
    }
}