/////////////// HEADER NAVBAR ////////////////

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;

    &__cart {
        border-color: transparent;
        @include respond(sm) {
            border-color: white;
        }
    }

    &__logo {
        max-width: 4rem;
    }

}

.site__wrap {
    overflow: hidden;
}

/////////// HEADER Slider ///////////////


.header__slider {
    position: fixed;
    top: 0%;
    width:100%;
    overflow-y: hidden;

}

.carousel {

    &-item {
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include respond(sm) {
            height: 100vh;
        }

        &--1 {
            background-image: url(../img/slider-1.jpg);
        }
        &--2 {
            background-image: url(../img/slider-2.jpg);
        }
        &--3 {
            background-image: url(../img/slider-3.jpg);
        }
    }


    &-caption {
        position: absolute;
        top: 50%;
        right: 5%;
        left:5%;
        bottom: auto;
        transform: translateY(-50%);


        @include respond(sm) {
            right: 25%;
            left:25%;
        }

    }


    &-indicators {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        left: -40%;
        bottom: 4vh;


        @include respond(sm) {
            left: 75%;
        }

        & .active {
            background-color: $color-primary;
        }
    }

    
}


///////////// Hidden Wrap ///////////////
.hidden__wrap {
    margin-top: 80vh;
    background-color: white;
    position: relative;
    @include respond(sm) {
        margin-top: 100vh;
        background-color: $white;
    }
}

////////////////// separate /////////////

.separate {

    margin-top: -1rem;
    margin-bottom: -2rem;
    position: relative;
    z-index: 1030;
    


    @include respond(sm) {
        margin-top: -2rem;
        margin-bottom: -4rem;
    }

    @include respond(lg) {
        margin-top: -3rem;
        margin-bottom: -6rem;
    }
    
}

///////////// Inf ///////////////

.inf {

    &__titlebox {
        background-image: url(../img/inf-bg.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding-right: 15%;
        padding-top: 4rem;
        padding-bottom: 2rem;
        position: relative;
        @include respond(sm) {
            padding-top: 5rem;
        }
    }

    &__title {

        font-size: 3.7rem;
        
    }

    &__bodytext {
        padding: 4.5rem;
    }


    &__grid {

        &-imgbox {
            position: relative;
            overflow: hidden;
            width: 100%;

            &--top {
                padding-top: 100%;
            }

            &--sidetop {
                padding-top: 100%;
            }

            &--sidebot {
                padding-top: 55%;

            }

            &--botmid {
                padding-top: 116%;
            }

            &--botright {
                padding-top: 93%;
            }
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        &-title {
            position: absolute;
            top: auto;
            left:5%;
            bottom: 2%;
            font-size: 2rem;
        }

    }
}

